set terminal pdfcairo size 16,16 enhanced font 'Verdana,12'
set output 'MACHINE-SEL-CACHE-BUFFERS-DATASET-SCALE-log.pdf'

set log x
set log y
set yrange [0.01:]
set key bottom right

set xlabel 'selectivity'

set multiplot layout 4,4 rowsfirst
